<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" http-equiv="Content-Type" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link th:href="@{/css/stylesheet.css}" rel="stylesheet" type="text/css">

<title>sign in</title>



</head>
<body class = "container">
	<header>
		<h1 class="logo">My Portfolio</h1>
		<div class = "btn-white"><a class="text" href="users/login">ログイン</a></div>
	</header>
	
	<h2 class="title">新規登録</h2>
	
	
	<form th:action="@{/add}" th:object="${portfolioAddRequest}" th:method="post">
		<div class="form">
			<div class="input">
				<label class="name-label">氏名</label>
				<input type="text" th:field="*{name}" class="input">
				<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="err">
            		<label class="text-danger" th:text="${error}"></label>
            	</div>
        	</div>
			<div class="input">
				<label class="email-label">メールアドレス</label>
				<input type="email" th:field="*{email}" class="input">
				<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="err">
            		<label class="text-danger" th:text="${error}"></label>
            	</div>
			</div>
			<div class="input">
				<label class="pass-label">パスワード</label>
				<input type="password" th:field="*{password}" class="input">
				<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="err">
            		<label class="text-danger" th:text="${error}"></label>
            	</div>
			</div>
			<div class="add">
				<input type="submit" value="登録する" class="add-btn">
			</div>
		</div>	
	</form>
	<div class="footer">
		<p>portfolio site</p>
	</div>
</body>
</html>
