<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="https://www.thmeleaf.org/thmeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" http-equiv="Content-Type" />
<link th:href="@{/css/login.css}" rel="stylesheet" type="text/css">
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<title>login</title>
</head>
<body>
	
		<header>
			<div class="header_container">
				<h1 class="headerlogo">My Portfolio</h1>
			</div>
		</header>
		<main>
			<h2 class="title">ログイン</h2>
			<div class="form">
				<form th:action="@{/login}"  th:method="post">    
					<div class="input">
						<label class="label">メールアドレス</label>
						<input type="text" class="form-control-1" id="email" name="username" required autofocus>
					</div>
					<div class="input">
						<label class="label">パスワード</label>
						<input type="password" class="form-control-2" id="password" name="password" required >
					</div>
					<div th:if="${param.error}" class="alert">
                    	名前またはパスワードが正しくありません
            		</div>
					<input type="submit" value="ログインする" class="botton_blue_1">
				</form>
				<button onclick="location.href='add'" class="botton_blue_2">新規登録</button>
			</div>
		</main>
		<footer>
			<div class="footer_container">
				<p class="footerlogo">portfolio site</p>
			</div>
		</footer>
	
</body>
</html>