<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" http-equiv="Content-Type" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link th:href="@{/css/skill.css}" rel="stylesheet" type="text/css">

<title>profile-edit</title>
</head>
<body>
	<div class="container">
		<header>
			<h1 class="logo">My Portfolio</h1>
			
			<form th:action="@{/logout}" method="post">
				<input type="submit" name="logout" value="ログアウト" class="button_white"/>
			</form>
		</header>
		<main>
			<div class="wrapper">
				<div class="pull-down">
					<select name="month" class="btn_pull">
					<option value="9">9月</option>
					<option value="8">8月</option>
					<option value="7">7月</option>
					</select>
				</div>
				<div class="category">
					<div class="content">
						<div class="titlebox">
							<div class="title">バックエンド</div>
							<input type="button" onclick="location.href='./skillnew?category_id=1'" value="項目を追加する" class="button_blue"/>
						</div>
						<table class="table-box">
							<thead class="table-header">
								<tr class="head">
									<th class="text-1">項目名</th>
									<th class="text-2">学習時間</th>
									<th class="outline"></th>
									<th class="delete"></th>
								</tr>
							</thead>
							<tbody class="table-row">
								<tr th:if="${learn.categoryId} == 1" th:each="learn : ${userlist}" th:object="${learn}" class="row">
									<td class="cell"><div th:text="*{name}" class="name"></div></td>
									<td class="time">
										<form th:action="@{/skilledit}" th:method="post" class="save-form">
										<div class="DBtime">
											<input type="number" name="study_time" class="study-hours" th:value="*{studyTime}"/>
											<input type="hidden" name="id" th:value="${learn.id}">
										</div>
										<div class="save"><input type="submit" value="学習時間を保存する" class="btn_save"></div>
										</form>
									</td>
									<td class="delete">
										<form th:action="@{/user/{id}/delete(id=*{id})}" >
											<input type="submit" value="削除する" class="btn_delete">
											<input type="hidden" name="id" th:value="${learn.id}">
										</form>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="category">
					<div class="content">
						<div class="titlebox">
							<div class="title">フロントエンド</div>
							<input type="button" onclick="location.href='./skillnew?category_id=2'" value="項目を追加する" class="button_blue"/>
						</div>
						<table class="table-box">
							<thead class="table-header">
								<tr class="head">
									<th class="text-1">項目名</th>
									<th class="text-2">学習時間</th>
									<th class="outline"></th>
									<th class="delete"></th>
								</tr>
							</thead>
							<tbody class="table-row">
								<tr th:if="${learn.categoryId} == 2" th:each="learn : ${userlist}" th:object="${learn}" class="row">
									<td class="cell"><div th:text="*{name}" class="name"></div></td>
									<td class="time">
										<form th:action="@{/skilledit}" th:method="post" class="save-form">
										<div class="DBtime">
											<input type="number" name="study_time" class="study-hours" th:value="*{studyTime}"/>
											<input type="hidden" name="id" th:value="${learn.id}">
										</div>
										<div class="save"><input type="submit" value="学習時間を保存する" class="btn_save"></div>
										</form>
									</td>
									<td class="delete">
										<form th:action="@{/user/{id}/delete(id=*{id})}" >
											<input type="submit" value="削除する" class="btn_delete">
											<input type="hidden" name="id" th:value="${learn.id}">
										</form>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="category">
					<div class="content">
						<div class="titlebox">
							<div class="title">インフラ</div>
							<input type="button" onclick="location.href='./skillnew?category_id=3'" value="項目を追加する" class="button_blue"/>
						</div>
						<table class="table-box">
							<thead class="table-header">
								<tr class="head">
									<th class="text-1">項目名</th>
									<th class="text-2">学習時間</th>
									<th class="outline"></th>
									<th class="delete"></th>
								</tr>
							</thead>
							<tbody class="table-row">
								<tr th:if="${learn.categoryId} == 3" th:each="learn : ${userlist}" th:object="${learn}" class="row">
									<td class="cell"><div th:text="*{name}" class="name"></div></td>
									<td class="time">
										<form th:action="@{/skilledit}" th:method="post" class="save-form">
										<div class="DBtime">
											<input type="number" name="study_time" class="study-hours" th:value="*{studyTime}"/>
											<input type="hidden" name="id" th:value="${learn.id}">
										</div>
										<div class="save"><input type="submit" value="学習時間を保存する" class="btn_save"></div>
										</form>
									</td>
									<td class="delete">
										<form th:action="@{/user/{id}/delete(id=*{id})}" >
											<input type="submit" value="削除する" class="btn_delete">
											<input type="hidden" name="id" th:value="${learn.id}">
										</form>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<p class="footerlogo">portfolio site</p>
		</footer>
	</div>
</body>
</html>