<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" http-equiv="Content-Type" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link th:href="@{/css/top.css}" rel="stylesheet" type="text/css">

<title>top-loggedin</title>
</head>
<body>
	<div class="container">
		<header>
			<h1 class="logo">My Portfolio</h1>
			<input type="submit" value="ログアウト" class="button_white">
		</header>
		<div class="main">
			<div class="wrapper">
				<div class="profile">
					<img>
					<div class="content">
						<div class="title">自己紹介</div>
						<div class="text"></div>
						<input type="submit" value="自己紹介を編集する" class="button_blue">
					</div>
				</div>
				<div class="chart">
					<div class="frame">
						<div class="title-skil">学習チャート</div>
						<input type="submit" value="編集する" class="button_blue">
					</div>
				</div>
			</div>
		</div>
		<footer>
			<p>portfolio site</p>
		</footer>
	</div>
</body>
</html>