@charset "UTF-8";

body {
	padding-top: 120px;
	padding-bottom: 80px;
	margin: 0;
}


.container {
	width: 100%;
	margin: 0 auto;
	
}

main {
	width: 100%;
	margin-top: 80px;
}

.header_container {
	width: 100%;
	height: 120px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #1B5678;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 10;
}

.headerlogo {
	width: 241px;
	height: 42px;
	font-family: Roboto;
	font-weight: 700;
	font-size: 36px;
	color: #FFFFFF;
	line-height: 42.19px;
	margin-left: 40px;
	float: left;
}

.button_white {
	float: right;
	width: 152px;
	height: 53px;
	font-family: Roboto;
	font-weight: 400;
	font-size: 18px;
	color: rgba(0, 0, 0, 0.75);
	line-height: 21.09px;
	border-radius: 4px;
	background-color: white;
	padding: 16px 0px;
	margin-right: 40px;
}


footer {
	width: 100%;
	height: 40px;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #1B5678;
	z-index: 10;
}

.footer_container {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footerlogo {
	width: 100%;
	font-weight: 400;
	font-size: 18px;
	font-family: Roboto;
	color: #FFFFFF;
	line-height: 21.09px;
	text-align: center;
}



.wrapper {
	width: 960px;
	height: 1512px;
	padding: 40px 0px;
	margin: 0 auto;
}

.pull-down {
	width: 94px;
	height: 44px;
}

.category {
	width: 880px;
	height: 436px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	padding: 40px;
	margin-top: 40px;
}

.content {
	width: 880px;
	height: 450px;
	margin: 0 auto;
}

.titlebox {
	width: 880px;
	height: 48px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	width: 240px;
	height: 44px;
	font-family: Roboto;
	font-weight: 700;
	font-size: 24px;
	line-height: 28.13px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
	color: rgba(0, 0, 0, 0.75);
}

.button_blue {
	float: right;
	width: 178px;
	height: 48px;
	border-radius: 4px;
	padding: 16px 40px;
	font-family: Roboto;
	font-weight: 400;
	font-size: 14px;
	line-height: 16.41px;
	color: white;
	background-color: #1B5678;
	text-align: center;
}

.table-box {
	width: 880px;
	height: 276px;
	border-radius: 4px;
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
	margin-top: 36px;
	max-height: 425px;
    overflow-y: auto;
    display: block;
}

.table-header {
	width: 880px;
	height: 57px;
	border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.table-row {
	width: 880px;
	height: 73px;

}

.head {
	width: 880px;
	height: 56px;
	display: flex;
}

.text-1 {
	width: 240px;
	height: 56px;
	padding: 16px 16px 16px 40px;
}

.text-2 {
	width: 240px;
	height: 56px;
	padding: 16px;
}

.tx {
	font-family: Roboto;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: rgba(0, 0, 0, 0.87);
}

.row {
	width: 880px;
	height: 73px;
	display: flex;
	border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.cell {
	width: 240px;
	height: 72px;
	padding: 16px 16px 16px 40px;
}

.time {
	width: 440px;
	height: 72px;
	padding: 16px;
}

.study-hours {
	width: 160px;
	height: 40px;
	padding: 3px 0px 3px 12px;
	gap: 3px;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.23);
	
}

.outline {
	width: 200px;
	height: 72px;
	padding: 16px;
}

.delete {
	width: 200px;
	height: 72px;
	padding: 16px 40px;
}

.btn_save {
	width: 158px;
	height: 32px;
	border-radius: 4px;
	border: 1px solid rgba(27, 86, 120, 1);
	color: rgba(27, 86, 120, 1);
	background-color: white;
	font-family: Roboto;
	font-weight: 400px;
	font-size: 14px;
	line-height: 16.41px;
	padding: 8px 16px;
}

.btn_delete {
	width: 88px;
	height: 32px;
	border: none;
	border-radius: 4px;
	background-color: rgba(238, 105, 105, 1);
	color: white;
	font-family: Roboto;
	font-weight: 400px;
	font-size: 12px;
	line-height: 16.41px;
	padding: 8px 16px;
	margin-top: 4px;
}

.btn_pull {
	border: 1px solid rgba(221, 221, 221, 1);
	border-radius: 4px;
	padding: 8px 16px;
	font-size: 24px;
	font-weight: 700px;
	font-family: Roboto;
	line-height: 28.13px;
}

.name {
	width: 184px;
	height: 20px;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 20.02px;
	letter-spacing: 0.15px;
	margin: 10px 0;
}

.DBtime {
	width: 160px;
	height: 40px;
}

.save {
	width: 158px;
	height: 32px;
	margin: 4px 0 0 80px;
}

.save-form {
	width: 408px;
	height: 40px;
	display: flex;
}








