@charset "UTF-8";

.container {
	width: 1440px;
	height: 1024px;
	margin: 0;
	padding: 0;
}

.logo {
	color: white;
	font-size: 36px;
	float: left;
	font-weight: 700;
	font-family: Roboto; 
	line-height: 42.19px;
}

.button_white {
	float: right;
	width: 152px;
	height: 53px;
	font-family: Roboto;
	font-weight: 400;
	font-size: 18px;
	line-height: 21.09px;
	border-radius: 4px;
	background-color: white;
	padding: 16px 0px;
}

header {
	width: 1440px;
	height: 120px;
	padding: 0px 40px;
	background-color: #1B5678;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

footer {
	width: 1440px;
	height: 40px;
	padding: 0px 40px;
	margin-top: opx;
	background-color: #1B5678;
	justify-content: space-between;
	position: relative;
}

.footerlogo {
	width: 120px;
	height: 21px;
	font-weight: 400;
	font-size: 18px;
	font-family: Roboto;
	color: #FFFFFF;
	line-height: 21.09px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main {
	width: 1440px;
	height: 1599px;
	padding: 0px 0px 40px 0px;
}

.wrapper {
	width: 960px;
	height: 1512px;
	padding: 40px 0px;
	margin: 0 auto;
}

.pull-down {
	width: 94px;
	height: 44px;
}

.category {
	width: 960px;
	height: 436px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	padding: 40px;
	margin-top: 40px;
}

.content {
	width: 880px;
	height: 356px;
}

.titlebox {
	width: 880px;
	height: 48px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	width: 240px;
	height: 44px;
	font-family: Roboto;
	font-weight: 700;
	font-size: 24px;
	line-height: 28.13px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
	color: rgba(0, 0, 0, 0.75);
}

.button_blue {
	float: right;
	width: 178px;
	height: 48px;
	border-radius: 4px;
	padding: 16px 40px;
	font-family: Roboto;
	font-weight: 400;
	font-size: 14px;
	line-height: 16.41px;
	color: white;
	background-color: #1B5678;
	text-align: center;
}

.table-box {
	width: 880px;
	height: 276px;
	border-radius: 4px;
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
	margin-top: 36px;
}

.table-header {
	width: 880px;
	height: 57px;
	border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.table-row {
	width: 880px;
	height: 73px;

}

.th {
	width: 880px;
	height: 56px;
	display: flex;
}

.text-1 {
	width: 240px;
	height: 56px;
	padding: 16px 16px 16px 40px;
}

.text-2 {
	width: 240px;
	height: 56px;
	padding: 16px;
}

.tx {
	font-family: Roboto;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: rgba(0, 0, 0, 0.87);
}

.tr {
	width: 880px;
	height: 73px;
	display: flex;
	border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.cell {
	width: 240px;
	height: 72px;
	padding: 16px 16px 16px 40px;
}

.time {
	width: 240px;
	height: 72px;
	padding: 16px;
}

.outline {
	width: 200px;
	height: 72px;
	padding: 16px;
}

.delete {
	width: 200px;
	height: 72px;
	padding: 16px 40px;
}

.btn_save {
	width: 158px;
	height: 32px;
	border-radius: 4px;
	border: 1px solid rgba(27, 86, 120, 1);
	color: rgba(27, 86, 120, 1);
	background-color: white;
	font-family: Roboto;
	font-weight: 400px;
	font-size: 14px;
	line-height: 16.41px;
	padding: 8px 16px;
}

.btn_delete {
	width: 88px;
	height: 32px;
	border: none;
	border-radius: 4px;
	background-color: rgba(238, 105, 105, 1);
	color: white;
	font-family: Roboto;
	font-weight: 400px;
	font-size: 12px;
	line-height: 16.41px;
	padding: 8px 16px;
}

.btn_pull {
	border: 1px solid rgba(221, 221, 221, 1);
	border-radius: 4px;
	padding: 8px 16px;
	font-size: 24px;
	font-weight: 700px;
	font-family: Roboto;
	line-height: 28.13px;
}

.name {
	width: 184px;
	height: 20px;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 20.02px;
	letter-spacing: 0.15px;
	margin: 10px 0;
}












