@charset "UTF-8";

body {
	padding-top: 120px;
	padding-bottom: 80px;
	margin: 0;
}


.container {
	width: 100%;
	margin: 0 auto;
	
}

main {
	width: 100%;
	margin-top: 80px;
}

.header_container {
	width: 100%;
	height: 120px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #1B5678;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 10;
}

.headerlogo {
	width: 241px;
	height: 42px;
	font-family: Roboto;
	font-weight: 700;
	font-size: 36px;
	color: #FFFFFF;
	line-height: 42.19px;
	margin-left: 40px;
	float: left;
}

.button_white {
	float: right;
	width: 152px;
	height: 53px;
	font-family: Roboto;
	font-weight: 400;
	font-size: 18px;
	color: rgba(0, 0, 0, 0.75);
	line-height: 21.09px;
	border-radius: 4px;
	background-color: white;
	padding: 16px 0px;
	margin-right: 40px;
}


footer {
	width: 100%;
	height: 40px;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #1B5678;
	z-index: 10;
}

.footer_container {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footerlogo {
	width: 100%;
	font-weight: 400;
	font-size: 18px;
	font-family: Roboto;
	color: #FFFFFF;
	line-height: 21.09px;
	text-align: center;
}




.self {
	width: 240px;
	height: 58px;
	border-style: none none solid none;
	border-width: 1px;
	border-color:#000000;
}

.self-title {
	width: 144px;
	height: 42px;
	font-family: Roboto;
	font-weight: 700;
	font-size: 36px;
	line-height: 42.19px;
	color: rgba(0 0 0 75);
}

.skill {
	width: 400px;
	height: 58px;
	border-style: none none solid none;
	border-width: 2px;
	border-color: rgba(0 0 0 5);
}

.skill-title {
	width: 216px;
	height: 42px;
	font-family: Roboto;
	font-weight: 700;
	font-size: 36px;
	line-height: 42.19px;
	color: rgba(0 0 0 75);
	margin: 0 auto;
}

.button_blue_1 {
	width: 242px;
	height: 53px;
	border-radius: 4px;
	padding: 16px 40px;
	background-color: #1B5678;
	font-family: Roboto;
	font-weight: 400;
	font-size: 18px;
	line-height: 21.09px;
	color: white;
}

.button_blue_2 {
	width: 152px;
	height: 53px;
	border-radius: 4px;
	padding: 16px 40px;
	background-color: #1B5678;
	font-family: Roboto;
	font-weight: 400;
	font-size: 18px;
	line-height: 21.09px;
	color: white;
}

.btn_container {
	width: 152px;
	height: 53px;
	margin: 0 auto;
	margin-top: 40px;
}

.name {
	width: 200px;
	font-family: Roboto;
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	color: #000000;
	text-align: center;
	margin: 10px 0 0 80px;
}


img {
	width:360px;
  	height:360px;
  	border-radius:50%;
  	background-color: gray;
}


.profile {
	width: 960px;
	height: 380px;
	margin: 0 auto;
}

.content {
	width: 520px;
	height: 256px;
	margin-top: 52px;
	float: right;
}

.text {
	width: 520px;
	height: 81px;
	margin: 32px 0;
}

.chart {
	width: 400px;
	height: 151px;
	margin: 0 auto;
	margin-top: 100px;
}

.frame {
	width: 400px;
	height: 151px;
	
}

.mychart {
	width: 1081px;
	height: 532.5px;
	margin: 0 auto;
	margin-top: 60px;
}




