@charset "UTF-8";

.container {
	width: 1440px;
	height: 1024px;
	margin: 0;
	padding: 0;
}

.logo {
	color: white;
	font-size: 36px;
	float: left;
	font-weight: 700;
	font-family: Roboto; 
	line-height: 42.19px;
}

.button_white {
	float: right;
	width: 152px;
	height: 53px;
	font-family: Roboto;
	font-weight: 400;
	font-size: 18px;
	line-height: 21.09px;
	border-radius: 4px;
	background-color: white;
	padding: 16px 0px;
}

header {
	width: 1440px;
	height: 120px;
	padding: 0px 40px;
	background-color: #1B5678;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

footer {
	width: 1440px;
	height: 40px;
	padding: 0px 40px;
	margin-top: 1491px;
	background-color: #1B5678;
	justify-content: space-between;
	position: relative;
}

.footerlogo {
	width: 120px;
	height: 21px;
	font-weight: 400;
	font-size: 18px;
	font-family: Roboto;
	color: #FFFFFF;
	line-height: 21.09px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main {
	width: 1440px;
	height: 742px;
	padding: o;
	position: relative;
}

.profile {
	width: 960px;
	height: 360px;
	position: relative;
}

.content {
	width: 520px;
	height: 256px;
	position: absolute;
	top: 52px;
	right: 0;
	position: relaaive;
}

.self {
	width: 240px;
	height: 58px;
	border-style: none none solid none;
	border-width: 1px;
	border-color:#000000;
}

.self-title {
	width: 144px;
	height: 42px;
	font-family: Roboto;
	font-weight: 700;
	font-size: 36px;
	line-height: 42.19px;
	color: rgba(0 0 0 75);
}

.skill {
	width: 400px;
	height: 58px;
	border-style: none none solid none;
	border-width: 2px;
	border-color: rgba(0 0 0 5);
}

.skill-title {
	width: 216px;
	height: 42px;
	font-family: Roboto;
	font-weight: 700;
	font-size: 36px;
	line-height: 42.19px;
	color: rgba(0 0 0 75);
	margin: 0 auto;
}

.button_blue_1 {
	width: 242px;
	height: 53px;
	border-radius: 4px;
	padding: 16px 40px;
	background-color: #1B5678;
	font-family: Roboto;
	font-weight: 400;
	font-size: 18px;
	line-height: 21.09px;
	color: white;
	position: absolute;
	left: -2px;
	bottom: 0px;
}

.button_blue_2 {
	width: 152px;
	height: 53px;
	border-radius: 4px;
	padding: 16px 40px;
	background-color: #1B5678;
	font-family: Roboto;
	font-weight: 400;
	font-size: 18px;
	line-height: 21.09px;
	color: white;
	position: absolute;
	bottom: 0;
	left: 124px;
}

.chart {
	width: 960px;
	height: 331px;
	position: absolute;
	top: 480px;
}

.frame {
	width: 400px;
	height: 151px;
	margin: 0 auto;
	position: relative;
}


.wrapper {
	width: 960px;
	height: 582px;
	margin-top: 90px;
	left: 240px;
	position: relative;
}

.name {
	width: 194px;
	height: 57px;
	font-family: Roboto;
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	color: #000000;
	margin: 0;
	position: absolute;
	top: 370px;
	left: 86px;
}


img {
	width:360px;
  	height:360px;
  	border-radius:50%;
  	background-color: gray;
}


