<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Portfolio.dao.PortfolioMapper">

    <!-- 全件検索 -->
    <select id="findAll" resultType="com.example.Portfolio.entity.users">
        SELECT * FROM users WHERE delete_date IS NULL
    </select>

    <!-- 主キー検索 -->
    <select id="findById" resultType="com.example.Portfolio.entity.users">
        SELECT * FROM users WHERE id=#{id} AND delete_date IS NULL
    </select>
    
    <select id="Allfind" resultType="com.example.Portfolio.entity.LearningData">
    	SELECT * FROM learning_data 
    </select>
    
    <select id="Idfind" resultType="com.example.Portfolio.entity.LearningData">
    	SELECT * FROM learning_data WHERE id=#{id} AND delete_date IS NULL
    </select>
    
    <select id="findByName" resultType="com.example.Portfolio.entity.LearningData"
                             parameterType="String">
        SELECT
          name, id, category_id
        FROM
           learning_data
        WHERE
           id = #{id}

    </select>
    
    <insert id="add">
        INSERT INTO learning_data
            (name, study_time, month, category_id, user_id, updated_at, created_at)
        VALUES
            (#{name}, #{study_time}, #{month}, #{category_id}, #{user_id}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>
    
    <update id="timeUpdate">
        UPDATE learning_data 
        SET 
        	study_time = #{study_time}, updated_at = CURRENT_TIMESTAMP 
        WHERE
        	id = #{id}
    </update>
    
    <select id="findName" parameterType="String" resultType="com.example.Portfolio.entity.LearningData">
  		SELECT name FROM learning_data
  		WHERE name = #{name}
	</select>
    

    <select id="findByEmail" resultType="com.example.Portfolio.entity.users"
                             parameterType="String">
        SELECT
          email, password, name, id, self_introduction
        FROM
           users
        WHERE
           id = #{id}

    </select>
    
    <select id="findCategory" resultType="com.example.Portfolio.entity.Categories">
    	SELECT
    		name, id
    	FROM
    		categories
    	WHERE
    		id = #{category_id}
    </select>

   

    <!-- 新規登録 -->
    <insert id="save">
        INSERT INTO users
            (name, email, password, self_introduction, updated_at, created_at)
        VALUES
            (#{name}, #{email}, #{password}, #{self_introduction}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>

    <!-- 更新 -->
    <update id="update">
        UPDATE users 
        SET 
        	self_introduction = #{self_introduction}, updated_at = CURRENT_TIMESTAMP 
        WHERE
        	id = #{id}
    </update>
    
    <delete id="delete">
        delete from learning_data
  		where id = #{id}
    </delete>
    
    
    <select id="sumTime" resultType="com.example.Portfolio.entity.LearningData">
    	 select date_format(month,'%m') as month, category_id, SUM(study_time) as study_time 
    	 from learning_data where date_format(month,'%m') in ('04', '05', '06') 
    	 group by category_id, date_format(month,'%m') 
    	 order by category_id
    </select>
    

    
</mapper>


